options:
	--documenttitle "Mgwport Reference"
	--index
	--masterindex "Index,index"
	--nopre
	--nosort
	--no_subdirectories
	--sections
	--sectionnameonly
	--syntaxcolors_enable "quotes,squotes,line_comments,keywords,non_alpha"
	--toc
items:
	ARGUMENTS
	AUTHOR
	BUGS
	COMMANDS
	DEFAULT MIRROR
	DEFAULT VALUE
	DEFINES
	DEFINITION
	DESCRIPTION
	ERRORS
	EXAMPLE
	FUNCTION
	HINT
	HINTS
	HISTORY
	IDEAS
	INHERITED BY
	INHERITS
	INPUT
	INPUTS
	INTRODUCTION
	METHODS
	MIRROR LIST
	NAME
	NOTE
	NOTES
	OPTIONS
	OUTPUT
	OVERLOADS
	OVERVIEW
	REQUIRES
	RESULT
	RESULTS
	RETURNS
	SEE ALSO
	SOURCE
	SYNOPSIS
	TAGS
	TODO
	USAGE
	USES
	VALUES
	WARNING
	WARNINGS
preformatted items:
	DEFAULT VALUE
	EXAMPLE
	SYNOPSIS
source items:
	DEFINITION
headertypes:
	*  "Concepts" mgwport_concepts
	d  "Definitions" mgwport_definitions
	h  "mgwclasses" mgwport_mgwclasses
	o  "Overloads" mgwport_overloads
	v  "Variables" mgwport_variables
	f  "General Functions" mgwport_general_functions
	C  "Compile Functions" mgwport_compile_functions
	T  "Testsuite Functions" mgwport_testsuite_functions
	I  "Install Functions" mgwport_install_functions
ignore files:
	autom4te.cache
	MINGW-PATCHES
	MSYS-PATCHES
	Makefile
	Makefile.in
	README
	aclocal.m4
	config.log
	config.status
	configure
	mgwport
	mgwport-inplace
	mgwport-*.*.*
	mgwport.spec
	doc
	gnuconfig
	install-sh
	html
	man
	missing
	patches
	tmp
	.git
	*.css
	*.diff
	*.html
	*.rc
	*.orig
	*.patch
	*.refs
	*.rej
	*.stderr
	*.txt
	*~
header markers:
	#****
remark markers:
	#
end markers:
	#****
source line comments:
	#
